<div class="p-4 bg-white-2 border-b border-gray-200 dark:bg-gray-900 dark:border-gray-700">
  <div class="flex items-center justify-between w-full">

    <div class="flex-shrink-0">
      <app-page-button-inicio></app-page-button-inicio>
    </div>

    <div class="flex-grow text-center">
      <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">
        OPERACIONES | Órdenes: {{ ordenesRXResource.value()?.totalItems }}
      </h1>
    </div>

  </div>

  <div class="mt-4">
    <app-busqueda-general
      placeholder="Buscar por ID, placa, Número de Serie o cliente..."
      nuevaEntidad="Nueva Orden"
      nuevaEntidadPagina="/operaciones/ordenes/new"
      (filtrarBusquedaEmit)="filtrar($event)"
      [opcionCards]="true"
      (mostrarCardsEmit)="mostrarCards($event)">
    </app-busqueda-general>
  </div>
</div>

  @if( ordenesRXResource.value() ){

    <div class="relative">

      @if (soloCards()) {
        <div class="relative" [@fadeAnimation]>
          <app-cards-ordenes
            [ordenes]="ordenesRXResource.value()?.ordenes ?? []">
          </app-cards-ordenes>
        </div>
      } @else {
        <div class="relative overflow-x-auto" [@fadeAnimation]>
          <app-ordenes-table
            [ordenes]="ordenesRXResource.value()?.ordenes ?? []">
          </app-ordenes-table>
        </div>
      }

    </div>

  }

  <app-pagination [pages]="ordenesRXResource.value()?.totalPages ?? 0" [currentPage]="paginationService.currentPage()" (itemsPerPageSelected)="selectPerPageChange($event)"></app-pagination>

