
<div class="relative w-full">

  <div class="flex">

    <app-estatus-badge [categoria]="categoria()" [clave]="claveSelected()" ></app-estatus-badge>

    <span (click)="showHideDropdown()" class="cursor-pointer">
      <svg class="w-6 h-6 text-gray-800 dark:text-white dark:hover:text-blue-700 hover:text-blue-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
      </svg>
    </span>
  </div>

  @if( isDropdownVisible() ){
    <div class="absolute top-full mt-1 z-50 bg-white rounded-lg shadow-sm w-60 dark:bg-gray-700 border border-gray-300 dark:border-gray-600">

      <ul class="h-60 px-3 pb-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200" >
        @for( estatus of estatusList; track estatus ){
          <li (click)="selectOption(estatus)"
            class="flex items-center w-full px-4 py-2 border-b border-gray-200 dark:border-gray-600 cursor-pointer hover:bg-gray-300 dark:hover:bg-gray-500 "
            >
            <app-estatus-indicator [categoria]="categoria()" [clave]="estatus.clave" ></app-estatus-indicator>
            {{estatus.nombre | uppercase}}
          </li>
        }
      </ul>
      <div class="flex justify-center">
        <button type="button" (click)="showHideDropdown()" class="cursor-pointer text-red-500 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 inline-flex items-center dark:hover:bg-gray-700 dark:hover:text-white">
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
      </div>
    </div>
  }

</div>
