<aside
  id="sidebar"
  class="fixed top-0 left-0 z-20 flex flex-col w-64 h-full pt-16 font-normal transition-transform duration-300 bg-white border-r border-gray-200 dark:bg-gray-900 dark:border-gray-700 lg:translate-x-0"
  [class.translate-x-0]="uiService.isSidebarOpen()"
  [class.-translate-x-full]="!uiService.isSidebarOpen()"
  aria-label="Sidebar">

  <div class="relative flex flex-col flex-1 min-h-0 bg-white dark:bg-gray-900">
    <div class="flex flex-col flex-1 pt-5 pb-4 overflow-y-auto">
      <div class="flex-1 px-3 space-y-1 divide-y divide-gray-200 dark:divide-gray-700">
        <ul class="pb-2 space-y-2 gap-2">

          @for(item of menuFiltrado(); track $index){
            <li>
              <button
                type="button"
                (click)="toggleSubMenu(item.menuOption!)"
                class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group dark:text-gray-200 cursor-pointer"
              >
                <ng-icon [name]="item.icon" size="1.5rem"></ng-icon>
                <span class="flex-1 ml-3 text-left whitespace-nowrap">{{ item.label }}</span>
                <ng-icon
                  name="tablerChevronDown" size="1.3rem"
                  class="transition-transform duration-300 cursor-pointer"
                  [ngClass]="{'rotate-180': showSubMenu[item.menuOption!]}"
                ></ng-icon>

              </button>
              @if(item.children?.length){
                <div
                  [@expandCollapse]="showSubMenu[item.menuOption!] ? 'expanded' : 'collapsed'"
                  class="overflow-hidden transition-all">
                  <ul>
                    @for(child of item.children; track $index){
                      <li class="m-2">
                        <a
                          [routerLink]="child.path"
                          routerLinkActive="bg-lightblue-600 text-white"
                          class="text-base text-gray-900 rounded-lg flex items-center p-2 group hover:bg-gray-400 transition duration-75 pl-11 dark:text-gray-200 dark:hover:bg-gray-700"
                          >
                          {{ child.label }}
                        </a>
                      </li>
                    }
                  </ul>
                </div>
              }
            </li>
          }
        </ul>

      </div>
    </div>
  </div>
</aside>

<div class="fixed inset-0 z-10 hidden bg-gray-900/50 dark:bg-gray-900/90" id="sidebarBackdrop"></div>

