<form class="p-4 min-h-[600px]" [formGroup]="productoServicioForm" (ngSubmit)="onSubmit()">


  <app-page-form-header [titleNew]="EnumPaginasTitulo.PRODUCTO_SERVICIO_NEW" [titleUpdate]="EnumPaginasTitulo.PRODUCTO_SERVICIO_UPDATE" [id]="productoServicio()?.id ?? ''" [detail]="`${productoServicio()?.descripcion}`" ></app-page-form-header>



  <app-page-form-body>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 sm:gap-6 w-full">

      <div>
        <app-page-form-control-search-table-generica-simple
          #pageFormControlSearchTableGenerica
          label="Producto ó Servicio Base"
          optionPlaceholder="Seleccione el Producto ó Servicio Base"
          (searchText)="filtrarSatProductoServicio($event)"
          [optionSelectedValue]="optionSelectedSatProductoServicioValue()"
          >
            <app-sat-productos-servicios-table [satProductosServicios]="satProductoServicioRXResource.value()?.satProductosServicios ?? [] " (satProductoServicioSelected)="optionSelectedSatProductoServicio($event)" ></app-sat-productos-servicios-table>
        </app-page-form-control-search-table-generica-simple>
      </div>

      <div>
        <label class="block mb-2 text-sm font-medium text-gray-700 dark:text-white">Precio Venta</label>
        <input type="text" formControlName="costoUnitario"  autocomplete="off" class="custom-input-text"
          [ngClass]="{ 'custom-input-text-error' : productoServicioForm.controls.costoUnitario.errors }"
        />
        <app-form-error-label [control]="productoServicioForm.controls.costoUnitario"></app-form-error-label>
      </div>

      <div>
        <label class="block mb-2 text-sm font-medium text-gray-700 dark:text-white">Descripción</label>
        <textarea id="descripcion" formControlName="descripcion" rows="4" class="custom-input-text"
        [ngClass]="{ 'custom-input-text-error' : productoServicioForm.controls.descripcion.errors }"
        ></textarea>
        <app-form-error-label [control]="productoServicioForm.controls.descripcion"></app-form-error-label>
      </div>

    </div>

  </app-page-form-body>

</form>
