<div class="bg-white-3 dark:bg-background-dark dark:bg-gray-950 text-[#111418] dark:text-gray-100 font-display transition-colors duration-300">

  <main class="max-w-[1600px] mx-auto py-8 lg:px-8">

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 xxl:grid-cols-3 gap-4">
      @for (gasto of gastosListado(); track gasto.id) {
        <app-card-gasto [gasto]="gasto"></app-card-gasto>
      }
    </div>
    @if( gastosListado().length === 0){
      <app-badge-message [message]="EnumCeroRegistros.GASTOS"  ></app-badge-message>
    }
  </main>

</div>
