<form [formGroup]="productoForm" (ngSubmit)="onSubmit()">

  <!--<div class="grid grid-cols-1 md:grid-cols-2 gap-4 sm:gap-6 w-full">-->

    <div>

      <app-page-form-control-search-table-generica-simple
        #pageFormControlSearchTableGenerica
        label="Producto Base"
        optionPlaceholder="Seleccione el Producto Base"
        (searchText)="filtrarSatProductoServicio($event)"
        [optionSelectedValue]="optionSelectedSatProductoServicioValue()"
        >
          <app-sat-productos-servicios-table [satProductosServicios]="satProductoServicioRXResource.value()?.satProductosServicios ?? [] " (satProductoServicioSelected)="optionSelectedSatProductoServicio($event)" ></app-sat-productos-servicios-table>
      </app-page-form-control-search-table-generica-simple>

    </div>

    <div>
      <label class="block mb-2 text-sm font-medium text-gray-700 dark:text-white">Precio Venta</label>
      <input type="text" formControlName="precioVenta"  autocomplete="off" class="custom-input-text"
        [ngClass]="{ 'custom-input-text-error' : productoForm.controls.precioVenta.errors }"
      />
      <app-form-error-label [control]="productoForm.controls.precioVenta"></app-form-error-label>
    </div>

    <div>
      <label class="block mb-2 text-sm font-medium text-gray-700 dark:text-white">Nombre</label>
      <textarea id="descripcion" formControlName="descripcion" rows="4" class="custom-input-text"
      [ngClass]="{ 'custom-input-text-error' : productoForm.controls.descripcion.errors }"
      ></textarea>
      <app-form-error-label [control]="productoForm.controls.descripcion"></app-form-error-label>
    </div>

    <div>
      <label class="block mb-2 text-sm font-medium text-gray-700 dark:text-white">Código de barras</label>
      <input type="text"
              formControlName="codigoBarras"
              autocomplete="off"
              class="custom-input-text"
              [ngClass]="{ 'custom-input-text-error' : productoForm.get('codigoBarras')?.errors }"
              [attr.aria-invalid]="productoForm.get('codigoBarras')?.invalid || null"/>
      <app-form-error-label [control]="productoForm.get('codigoBarras')!"></app-form-error-label>
    </div>

  <!--</div>-->

  <!-- Inventario -->
  <div class="mt-6 border rounded-lg overflow-hidden border-gray-700">
    <button type="button"
            class="w-full flex justify-between items-center px-4 py-3 bg-gray-100 dark:bg-gray-800 text-gray-700 dark:text-white font-medium"
            (click)="isOpen = !isOpen">
      Inventario (opcional)
      <span [class.rotate-180]="isOpen" class="transition-transform duration-300">
        ▼
      </span>
    </button>

    <div class="transition-all duration-500 ease-in-out overflow-hidden"
        [style.maxHeight]="isOpen ? '1000px' : '0px'">
      <!--<div class="p-4 grid grid-cols-1 md:grid-cols-2 gap-4 sm:gap-6">-->

        <div class="flex flex-col gap-4">

          <label class="inline-flex items-center cursor-pointer">
            <input type="checkbox"
                  formControlName="permiteVentaSinStock"
                  [checked]="productoForm.get('permiteVentaSinStock')?.value"
                  class="peer sr-only"> <div class="relative w-9 h-5 rounded-full bg-gray-200 dark:bg-gray-700
                        peer-focus:outline-none
                        peer-checked:bg-green-500
                        after:content-[''] after:absolute after:top-[2px] after:start-[2px]
                        after:bg-white after:rounded-full after:h-4 after:w-4 after:transition-all
                        peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full"></div>
            <span class="select-none ms-3 text-sm font-medium text-heading dark:text-white">Permite venta sin stock</span>
          </label>

        </div>

        <div>
          <label class="block mb-2 text-sm font-medium text-gray-700 dark:text-white">Stock Mínimo</label>
          <input type="number" formControlName="stockMinimo" [value]="productoForm.controls.stockMinimo.value ?? ''"  autocomplete="off" class="custom-input-text"
            [ngClass]="{ 'custom-input-text-error' : productoForm.controls.stockMinimo.errors }"
          />
          <app-form-error-label [control]="productoForm.controls.stockMinimo"></app-form-error-label>
        </div>

      <!--</div>-->
    </div>
  </div>

  <div class="flex justify-center py-3">
    <!--@if( productoForm.valid ){-->
      <button type="submit" class="text-white bg-lightblue-600 hover:bg-lightblue-500 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-darkblue-600 dark:hover:bg-darkblue-500 cursor-pointer disabled:opacity-50 transition-all duration-500 ease-in-out"
          [disabled]="isLoading | async"
          [ngClass]="{
            'opacity-100 scale-100 pointer-events-auto': productoForm.valid,
            'opacity-0 scale-95 pointer-events-none': !productoForm.valid
          }">
          Guardar
      </button>
    <!--}-->
  </div>

</form>
