<div class="inline-block align-middle">
  <table class="min-w-full divide-y table-auto divide-gray-200 dark:divide-gray-600">
    <thead class="bg-gray-100 dark:bg-gray-700">
      <tr>
        <th scope="col" class="min-w-30 p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
          ID
        </th>
        <th scope="col" class="min-w-30 p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
          Fecha
        </th>
        <th scope="col" class="min-w-30 p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
          Producto
        </th>
        <th scope="col" class="min-w-30 p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
          Tipo
        </th>
        <th scope="col" class="min-w-30 p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
          Motivo
        </th>
        <th scope="col" class="min-w-30 p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
          Cantidad
        </th>
        <th scope="col" class="min-w-30 p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
          Stock Antes
        </th>
        <th scope="col" class="min-w-30 p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
          Stock Después
        </th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
      @for( inventarioMovimiento of inventarioMovimientosListado(); track inventarioMovimiento.id ){
        <tr class="hover:bg-gray-100 dark:hover:bg-gray-700 align-top">
          <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {{inventarioMovimiento.id | uppercase }}
          </td>
          <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {{inventarioMovimiento.createdAt | date: 'dd/MM/yyyy HH:mm:ss' }}
          </td>
          <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
              <app-text-preview [limit]="80" [text]="inventarioMovimiento.producto.descripcion"></app-text-preview>
          </td>
          <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
              <app-badge-inventario-tipo-movimiento [inventarioTipoMovimiento]="inventarioMovimiento.tipoMovimiento" ></app-badge-inventario-tipo-movimiento>
          </td>
          <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {{inventarioMovimiento.motivoMovimiento | uppercase }}
          </td>
          <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
              <app-badge-positivo-negativo [cantidad]="inventarioMovimiento.stockNuevo - inventarioMovimiento.stockAnterior" ></app-badge-positivo-negativo>
          </td>
          <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {{inventarioMovimiento.stockAnterior }}
          </td>
          <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {{inventarioMovimiento.stockNuevo }}
          </td>
        </tr>
      }
      @empty{
      <tr>
        <td colspan="15" class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
          <app-badge-message [message]="EnumCeroRegistros.INVENTARIO_MOVIMIENTOS"></app-badge-message>
        </td>
      </tr>
    }
  </tbody>
</table>
</div>
