<div>

  <div class="grid grid-cols-1 md:grid-cols-2 xxl:grid-cols-3 gap-4 py-4">
    @for (orden of ordenesListado(); track orden.id) {
      <app-card-orden
        class="h-full"
        [orden]="orden"
        >
        <!--(ordenEstatusActualizadaEmit)="ordenEstatusActualizada($event)"-->
      </app-card-orden>
    }
  </div>

  @if( ordenesListado().length === 0){
    <div class="flex justify-center items-center min-h-[400px]">
      <app-badge-message [message]="EnumCeroRegistros.ORDENES"></app-badge-message>
    </div>
  }
</div>
