<div class="p-4 bg-white-2 block sm:flex items-center justify-between border-b border-gray-200 dark:bg-gray-900 dark:border-gray-700">
  <div class="w-full mb-1">
      <div class="mb-4">
          <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white"># Facturas: {{facturasRXResource.value()?.totalItems}}</h1>
      </div>

      <app-busqueda-general
        placeholder="Buscar Facturas"
        nuevaEntidad="Nueva Factura"
        nuevaEntidadPagina="/facturas/facturas/new"
        (filtrarBusquedaEmit)="filtrar($event)" >
      </app-busqueda-general>

  </div>
</div>

<div class="relative min-h-screen">

  @if( facturasRXResource.value() ){
      <div class="absolute inset-0" [@fadeAnimation]>
        <app-facturas-table [facturas]="facturasRXResource.value()?.facturas ?? []" ></app-facturas-table>
      </div>
  }

</div>

<app-pagination [pages]="facturasRXResource.value()?.totalPages ?? 0" [currentPage]="paginationService.currentPage()" (itemsPerPageSelected)="selectPerPageChange($event)"></app-pagination>
