<div class="flex flex-col gap-4">

  <div class="bg-gray-50 dark:bg-gray-800 rounded-2xl p-5 border border-slate-200 dark:border-slate-500 shadow-sm">
    <div class="space-y-2">
      <p class="text-[10px] font-bold text-blue-600 dark:text-blue-400 uppercase tracking-widest">Estatus</p>
    </div>

    <div class="flex flex-col items-center gap-1 mb-2 ">
      <app-estatus-badge [categoria]="EnumCategoria.COMPRAS" [clave]="compraLinked().estatus" ></app-estatus-badge>
      @if(compraLinked().estatus === EnumEstatusCompra.CONFIRMADA){
        <p class="text-[10px] font-bold text-gray-400 dark:text-gray-500 uppercase leading-none">{{compraLinked().usuarioConfirmacion.fullName}}</p>
      }@else if(compraLinked().estatus === EnumEstatusCompra.BORRADOR){
        <p class="text-[10px] font-bold text-gray-400 dark:text-gray-500 uppercase leading-none">{{compraLinked().usuarioBorrador.fullName}}</p>
      }@else if(compraLinked().estatus === EnumEstatusCompra.CANCELADA){
        <p class="text-[10px] font-bold text-gray-400 dark:text-gray-500 uppercase leading-none">{{compraLinked().usuarioCancelacion.fullName}}</p>
      }
    </div>

    <div class="flex flex-col sm:flex-row gap-1">
      <!-- Botón Cancelar -->
      @if( compraLinked().estatus === EnumEstatusCompra.BORRADOR ) {
        <button
          type="button"
          (click)="onCancelarCompra()"
          class="flex items-center justify-center gap-1 px-4 py-2 text-sm font-bold text-white bg-red-600 hover:bg-red-700 rounded-lg shadow-md transition-colors">
          <ng-icon name="tablerX" size="1rem"></ng-icon>
          Cancelar Compra
        </button>

        <!-- Botón Confirmar -->
        <button
          type="button"
          (click)="onConfirmarCompra()"
          class="flex items-center justify-center gap-1 px-4 py-2 text-sm font-bold text-white bg-green-600 hover:bg-green-700 rounded-lg shadow-md transition-colors">
          <ng-icon name="tablerCheck" size="1rem"></ng-icon>
          Confirmar Compra
        </button>
      }

    </div>
  </div>

  <div class="bg-gray-50 dark:bg-gray-800 rounded-2xl border border-slate-200 dark:border-slate-500 shadow-sm overflow-hidden">
    <div class="p-4 sm:p-6 border-b border-slate-100 dark:border-slate-500 flex flex-col sm:flex-row sm:items-center justify-between gap-4">
      <div class="flex items-center gap-3 text-blue-600">
        <ng-icon name="tablerListCheck" size="1.3rem"></ng-icon>
        <h3 class="font-bold text-base sm:text-lg uppercase tracking-tight dark:text-white">Productos</h3>
      </div>

      <div class="flex items-center bg-slate-50 dark:bg-slate-500 p-1.5 rounded-full px-4 self-start sm:self-auto">
        <span class="text-[10px] sm:text-xs font-bold uppercase">
          {{ compraLinked().detalles.length }} Items
        </span>
      </div>
    </div>

    <div class="block sm:hidden divide-y divide-slate-100 dark:divide-slate-800">
      @for( detalle of compraLinked().detalles; track detalle.producto.id ){
        <div class="p-4 space-y-3">
          <div class="flex justify-between items-start gap-4">
            <div>
              <p class="text-xs font-bold dark:text-slate-200">{{detalle.producto.descripcion}}</p>
              <!--<p class="text-[10px] text-slate-500 uppercase">{{detalle.producto.satProductoServicio.satTipoProductoServicio.tipo}}</p>-->
            </div>
            <span class="bg-blue-50 dark:bg-blue-900/30 text-blue-600 dark:text-blue-400 text-[10px] font-bold px-2 py-1 rounded">
              x{{detalle.cantidad | number:'1.0-0'}}
            </span>
          </div>
          <div class="flex justify-end">
            <p class="text-sm font-black text-slate-900 dark:text-white">
              {{(detalle.cantidad * detalle.costoUnitario) | currency:'$ '}}
            </p>
          </div>
        </div>
      }
    </div>

    <div class="hidden sm:block overflow-x-auto">
      <table class="w-full text-left border-collapse">
        <thead class="bg-slate-50 dark:bg-slate-700">
          <tr>
            <th class="px-6 py-3 text-[10px] font-bold text-slate-400 uppercase tracking-wider">Descripción</th>
            <th class="px-6 py-3 text-[10px] font-bold text-slate-400 uppercase tracking-wider text-right">Cant.</th>
            <th class="px-6 py-3 text-[10px] font-bold text-slate-400 uppercase tracking-wider text-right">Total</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-slate-100 dark:divide-slate-800">
          @for( detalle of compraLinked().detalles; track detalle.producto.id ){
            <tr class="hover:bg-slate-50/50 dark:hover:bg-slate-800/30 transition-colors">
              <td class="px-6 py-4">
                <p class="text-sm font-bold dark:text-slate-200">{{detalle.producto.descripcion}}</p>
                <!--<p class="text-[10px] text-slate-500">{{detalle.producto.satProductoServicio.satTipoProductoServicio.tipo}}</p>-->
                <!--<p class="text-[10px] text-slate-500">'PRODUCTO</p>-->
              </td>
              <td class="px-6 py-4 text-sm font-bold text-right dark:text-slate-200">{{detalle.cantidad | number:'1.0-0'}}</td>
              <td class="px-6 py-4 text-sm font-bold text-right dark:text-slate-200">{{(detalle.cantidad * detalle.costoUnitario) | currency:'$ '}}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="bg-slate-50 dark:bg-slate-800/50 px-4 sm:px-6 py-4 flex justify-between items-center border-t border-slate-100 dark:border-slate-500">
      <span class="text-xs font-bold text-slate-500 uppercase tracking-widest">Importe</span>
      <span class="text-lg sm:text-xl font-black text-blue-600 dark:text-blue-400">
        {{ subtotalCotizacion | currency:'$ ' }}
      </span>
    </div>
  </div>

</div>


@if(modalOpen()){
  <app-modal-compra-estatus-update [idCompra]="compraLinked().id" [estatus]="compraLinked().estatus" [nuevoEstatus]="nuevoEstatus()" (onCloseEmit)="cerrarModal($event)" ></app-modal-compra-estatus-update>
}
