
<div class="bg-white-2 dark:bg-gray-900 py-2 mb-2 flex flex-col sm:flex-row sm:justify-between items-center gap-2 sm:gap-4 rounded-2xl">

  <div class="flex w-full sm:w-auto items-center justify-start px-2">

    <app-page-button-back></app-page-button-back>

    <div class="ml-2 sm:ml-4">

      <app-page-title-detail [titleNew]="titleNew()" [titleUpdate]="titleUpdate()" [id]="id()" [detail]="detail()" [subdetail]="subdetail()" [subtitle]="subtitle()" ></app-page-title-detail>

    </div>

  </div>

  <div class="sm:w-auto px-2">
    <app-page-button-submit [id]="id()" [guardar]="guardar()" [emitir]="emitir()" ></app-page-button-submit>
  </div>

</div>
